doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Music Player
  link(rel='stylesheet' href='./style.css')
  link(rel='stylesheet' href='https://fonts.googleapis.com/icon?family=Material+Icons')
<nav>
        <div class="logo">MR CODER</div>
        <input type="checkbox" id="checkbox">
        <label for="checkbox" id="icon">
            <svg fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"></path></svg>
        </label>
        <ul>
            <li><a href="/" class="active">Home</a></li>
            <li><a href="#">Shop</a></li>
            <li><a href="/">Music</a></li>
            <li><a href="/video">TV</a></li>
            <li><a href="#" id="sout">Sign Out</a></li>
        </ul>
</nav>


  link(rel='icon' type='image/x-icon' href='./cleverhare_fiverr.ico')


.wrapper
  .top-bar
    i.material-icons expand_more
    span Now Playing
    i.material-icons more_horiz
  .img-area
    img(src='' alt='')
  .song-details
    p.name
    p.artist
    p.plays Plays: 0
  .progress-area
    .progress-bar
      audio#main-audio(src='')
    .song-timer
      span.current-time 0:00
      span.max-duration 0:00
  .controls
    i#repeat-plist.material-icons(title='Playlist looped') repeat
    i#prev.material-icons skip_previous
    .play-pause
      i.material-icons.play play_arrow
    i#next.material-icons skip_next
    i#more-music.material-icons queue_music
  .music-list
    .header
      .row
        i.list.material-icons queue_music
        span Music list
      i#close.material-icons close
    ul
      // here li list are coming from js
script(src='./js/music-list.js')
script(src='./js/script.js')
