doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(rel='icon' type='image/x-icon' href='./cleverhare_fiverr.ico')
  link(rel='stylesheet' href='./fournotfour.css')
  title Document
.flex-container
  .text-center
    h1
      span#digit1.fade-in 4
      span#digit2.fade-in 0
      span#digit3.fade-in 4
    h3.fadeIn PAGE NOT FOUND
    a(href="/" type='button' name='button') Return To Home

